<div class="container wrapper-table">
    <div class="col-xs-12">
        <button class="btn btn-primary create-modal-student-button">Create Student</button>
    </div>
    
	<div class="col-xs-12">
		<table id="student-table" class="stripe mt-10 dataTable no-footer" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Image</th>
                    <th>Birthday</th> 
                    <th>Action</th>
                </tr>
            </thead>
        </table>
	</div>

</div>

<script type="x-tmpl-mustache" id="action-template">
    <div>
        <a href="javascript:void(0)" class="view-modal-student-button action"  id="{{id}}">View</a>
        <a href="javascript:void(0)" class="edit-modal-student-button action"  id="{{id}}">Edit</a>
        <a href="javascript:void(0)" class="delete-modal-student-button action" id="{{id}}">Delete</a>
    </div>
</script>

<%- partial('createModal') %>
<%- partial('editModal') %>
<%- partial('deleteModal') %>
<%- partial('viewModal') %>

<script type="text/javascript">

$(document).ready(function() {


    $('.birthday-group').datetimepicker({ format : "YYYY/MM/DD"});

	$(".wrapper-table").ManageTable({
        wrapperClass: '.wrapper-table',
        tableClass: '#student-table',
        object: 'student',
        ajaxRequest: {
            getList:    '/student/getStudentList',
            create:     '/student/createStudent',
            save:       '/student/saveStudent',
            edit:       '/student/editStudent',
            update:     '/student/updateStudent',
            delete:     '/student/deleteStudent',
            view:       '/student/viewStudent',
            upload:     '/student/media/upload'
        },
        table: {
            columns: [
                {'data' : 'first_name'},
                {'data' : 'last_name'},
                {'data' : 'email'},
                {'data' : 'image'},
                {'data' : 'birthday'},
                {'data' : 'id'},
            ],
            columnDefs : [
                {
                    targets: -1,
                    orderable: false,
                    render: function(id) {
                        var template = $("#action-template").html();
                        var html = Mustache.render(template, {id: id});

                        return html;
                    }
                }
            ]
        },
        modal: {
            createModal: '#create-student-modal',
            editModal: '#edit-student-modal',
            deleteModal: '#delete-student-modal',
            viewModal: '#view-student-modal'
        },
        action: {
            createModalButton : '.create-modal-student-button',
            editModalButton : '.edit-modal-student-button',
            viewModalButton : '.view-modal-student-button',
            deleteModalButton : '.delete-modal-student-button',
        },

        _fillUpEditForm: function(record, extraData) {
            var template = $("#edit-form-template").html();
            record.statusSelection = extraData.statusSelection;
            record.genderSelection = extraData.genderSelection;

            var statusSelection = record.statusSelection;
            var genderSelection = record.genderSelection;

            for (var key in statusSelection) {
                if (statusSelection[key].id == record.status) statusSelection[key].selected = 'selected';
            }

            for (var key in genderSelection) {
                if (genderSelection[key].id == record.gender) genderSelection[key].checked = 'checked';
            }
            
            var html = Mustache.render(template, record);

            return html
        },
        _fillUpCreateForm: function(extraData) {
            var template = $("#create-form-template").html();
            var html = Mustache.render(template, extraData);

            return html
        }
    })
})
</script>